.App {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image: url('./Components/images/background.jpg');
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  
}




.heading {

margin-bottom: 50px;

}

.login-button {

  margin-top: 25%;
  margin-bottom: 25%;
  border-radius: 12px;
  padding:6px  25%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  border: none;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);

}

.login-card {

  position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
  background-color: rgba(247, 244, 244, 0.89);
	border-radius:3px;
	padding:70px 100px;
  

}
.login-card:hover {
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);
}

.input-container {
  position:relative;
  margin-bottom: 25px;
   
}

.input-container label {
  
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: all 0.5s ease-in-out;

}

.input-container input {
  border: 0;
  border-bottom: 1px solid black;
  background: transparent;
  width: 100%;
  padding: 8px 5px;
  font-size: 16px;
  color: black;
}

.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}


/* Registration */
.link-signup {

  text-decoration: none;
  color: rgb(9, 141, 202);

}


.signup {
  margin-top: 40px;
  font-size: 13px;

}

.sign-card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 6px;
  background-color: white;
 

}
.sign-card:hover {
 box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);
}


.sign-button {

  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 12px;
  padding:7px  25%;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  border: none;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);

}

/*home*/
.home-card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 55%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 6px;
  background-color: rgba(190, 192, 192, 0.89);
 
}


.table {

  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  
  overflow-x: auto;
  
  
  
}

.table td,  .table th {
  border: none;
  padding: 8px;
}

.table tr:hover {background-color: #ddd;}

.table th {

  
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:rgb(168, 197, 207);
  color:white;
  
}


.home-container{

  display:block;
}
.home-container input {
  border: none;
  padding: 5px;
  border-radius: 4px;
  margin-right: 3px;
  margin-bottom: 10px;
  
}

.home-container input:focus {
     border: none;
     outline: none;

}

.home-container button{
  border-radius: 4px;
  font-weight: bold;
  border: none;
  padding: 5px 9px;
  cursor:pointer;
  background-color:rgb(168, 197, 207);
  color: white;
}

.home-container select {
border: none;
border-radius: 4px;
padding: 4px;
margin-right: 3px;
outline: none;

}


.search {
  border-radius: 4px;
  outline: none;
  border: none;
  margin-bottom: 9px;
  padding: 5px;
}
.delete-button {

  background-image: radial-gradient(93% 87% at 87% 89%, rgba(253, 5, 5, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 3, 3, 0.41) 0%, rgba(185, 48, 48, 0) 69.79%, rgba(243, 8, 8, 0) 100%);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: bold;
}

.edit-button {

  background-image: radial-gradient(93% 87% at 87% 89%, rgba(5, 253, 232, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(3, 255, 255, 0.41) 0%, rgba(185, 48, 48, 0) 69.79%, rgba(243, 8, 8, 0) 100%);
  border: none;
  font-size: 11px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 15px;
}





